<%= bootstrap_form_for(project) do |f| %>
  <% if project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field col-lg-8 clearfix">
    <%#= f.label :project_name %>
    <%= f.text_field :project_name %>
  </div>

  <div class="actions col-lg-8 clearfix">
    <%= f.submit %>
    <%= link_to 'Back', projects_path, class: 'btn btn-default'  %>
  </div>
<% end %>
