<div class="well well-lg center_text">
<div class="clear">
  <strong>Todo name:</strong>
  <%= @todo.todo_name %>
</div>

<div class="clear">
  <strong>Project name:</strong>
  <%= @todo.project.project_name %>
</div>

<div class="clear">
  <strong>Developer:</strong>
  <%= @todo.user.email %>
</div>

<div class="clear">
  <strong>Status:</strong>
  <%= @todo.status.blank? ? 'New' : @todo.status %>
</div>

<div class="clear">
	<%= link_to 'Edit', edit_todo_path(@todo), class: 'btn btn-default'  %>
	<%= link_to 'Back', todos_path, class: 'btn btn-default'  %>
</div>
</div>
<br/>