<!DOCTYPE html>
<html>
  <head>
    <title>TodoApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  </head>

  <body>
    <p id="notice" class="notice"><%= notice %></p>
    <p id="error" class="alert"><%= alert %></p>
    <%= link_to 'Sign out', destroy_user_session_path, method: :delete %>
    <%= yield %>
  </body>
</html>
